<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.web6.dao.CustomerMapper">

	<!-- 회원 정보 저장 -->
	<insert id="insert" parameterType="Customer">
		insert into customer (custid, password, name, email, division, idno, address) 
		values (#{custid}, #{password}, #{name}, #{email}, #{division}, #{idno}, #{address}) 
	</insert>
	
	<!-- 아이디 중복 확인 + 로그인 확인 -->
	<select id="idcheck" parameterType="string" resultType="Customer">
		select * from customer where custid = #{custid}
	</select>
	
	<!-- 아이디 수정과 동적SQL -->
	<update id="updateCustomer" parameterType="Customer">
		update 
			customer 
		set 
			name = #{name}
			,email= #{email}
			,idno = #{idno}
			,address = #{address} 						<!-- 수정하지 않을 수도 있는 값을 맨 뒤로 뺀다 -->
			<if test="password != null and password != ''"><!-- 동적 sql -->
			,password = #{password}
			</if>
		where custid = #{custid}
	</update>
</mapper>